# Virtual Environments
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.pyc

# Project Specifics (Data & Databases)
output/
market-data/
reports/
sentiments/
tweets/
yt-transcripts/
scweet_state.db
twtr-tweets/
x-tweet-fetcher/

# Security & Credentials
cookies.json
yt-urls.txt
yt-keywords.txt
